div#forgot-password-link-container {
	margin-top: 10px;
	margin-left: 245px;
}

div#forgot-password-link-container a {
	text-decoration: none;
	color: #4d94ff;
}

div#forgot-password-link-container a:hover {
	text-decoration: underline;
}

div#forgot-password-container {
	border: 2px solid #999;
	width: 603px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

div#forgot-password-button-container {
	margin-left: 10px;
	margin-top: 10px;
}

#forgot-password-button {
	padding: 5px;
	width: 580px;
	background-color: white;
	border: 1px solid #999;
	outline: none;
}

#forgot-password-button:hover {
	background-color: lightblue;
	color: white;
	transition: 0.4s;
}