#profile-name-link {
	margin-left: 1620px !important;
	position: relative;
}

#profile-links {
	position: absolute;
	background-color: #999;
	top: 22px;
	left: -20px;
	width: 100px;
}

#profile-links li {
	margin-top: 5px;
}

div#register-flash-message {
	width: 400px;
	height: 30px;
	border: 1px solid #999;
	margin-top: 10px;
	margin-left: 40px;
	border-left: 5px solid limegreen;
	padding: 5px;
}